body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    margin: auto;
    padding: 30px;
    max-width: 1000px;
}

h1 {
    background-color: gray;
    color: white;
    padding: 20px 40px;
    font-size: 48px;
}

h2 {
    background-color: #d1d1d1;
    display: inline-block;
    padding: 10px 40px;
    /*padding-right: 40px;
    border: 1px solid black;*/
    margin: 0px;
    margin-top: 24px;
    border-radius: 0px 0px 35px 0px;
}

img {
    max-width: 500px;
    height: auto;
    border-radius: 20px;
}

li {
    margin: 5px;
}