body {
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif
}

h1 {
    background-color: gray;
    color: white;
}

h2 {
    background-color: #d1d1d1;
    display: inline;
}

img {
    max-width: 500px;
    height: auto;
}